<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-2">
            <div class="card custom-card mb-3">
                <div class="card-header">Users</div>
                <div class="card-body">
                    <h5 class="card-title text-left"><%= stats.totalUsers %></h5>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card custom-card mb-3">
                <div class="card-header">Approved Users</div>
                <div class="card-body">
                    <h5 class="card-title text-left"><%= stats.approvedUsers %></h5>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card custom-card mb-3">
                <div class="card-header">Approved Researchers</div>
                <div class="card-body">
                    <h5 class="card-title text-left"><%= stats.approvedResearchers %></h5>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card custom-card mb-3">
                <div class="card-header">Approved Editors</div>
                <div class="card-body">
                    <h5 class="card-title text-left"><%= stats.approvedEditors %></h5>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card custom-card mb-3">
                <div class="card-header">Pending Researchers</div>
                <div class="card-body">
                    <h5 class="card-title text-left"><%= stats.pendingResearchers %></h5>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card custom-card mb-3">
                <div class="card-header">Pending Editors</div>
                <div class="card-body">
                    <h5 class="card-title text-left"><%= stats.pendingEditors %></h5>
                </div>
            </div>
        </div>
    </div>
</div>